.header-container{
    max-height: 100px;
    height: 100px;
    position: fixed;
    width: 100%;
    transition: transform 0.3s;
}

.header-toggle{
    transform: translateY(-100%);
}

.nav-div{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: #16181D;
    z-index: 10;
    position: relative;
}

a{
    text-decoration: none;
    color: #F6F7F9;
    margin: 0 15px;
    border: 2px solid #F6F7F9;
    padding: 5px;
    transition: .5s;
    border-radius: 3px;
}

a:hover{
    color:#16181D;
    border-color: orangered;
    background-color: #F6F7F9;
}

.header-button{
    width: 100px;
    height: 50px;
    position: relative;
    left: 50%;
    translate: -50%;
    border-radius: 30px;
    transform: translateY(-100%);
    opacity: 1;
    z-index: 9;
    transition: 0.3s;
}

.toggle-button{
    transform: translateY(-50%);
    opacity: 1;
}

