.header-container{
    max-height: 100px;
    height: 30px;
    position: fixed;
    width: 100%;
    transition: transform 0.3s;
    z-index: 10;
}

.header-toggle{
    transform: translateY(-100%);
}

.nav-div{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: #16181D;
    z-index: 10;
    position: relative;
}

a{
    text-decoration: none;
    color: #F6F7F9;
    margin: 0 10px;
    padding:  0 5px;
    transition: .5s;
    border-radius: 3px;
    font-size: 8px;
}

a:hover{
    color:#16181D;
    border-color: orangered;
    background-color: #F6F7F9;
}

.header-button{
    width: 75px;
    height: 40px;
    position: relative;
    left: 50%;
    translate: -50%;
    border-radius: 10px;
    transform: translateY(-130%);
    opacity: 1;
    z-index: 9;
    transition: 0.3s;
    border: 2px solid orangered;
    background-color: #16181D;
}

.line-button{
    width: 50px;
    height: 2px;
    background-color: orangered;
    top: 30%;
    left: 50%;
    translate: -50%;
    position: relative;
    box-shadow: 0 0 15px orangered;
}

.toggle-button{
    transform: translateY(-60%);
    opacity: 1;
}

