.landing-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.h1-greet{
    font-size: 10vw;
    margin-top: 10%;
}
.h2-greet{
    font-size: 2vw;
    text-align: center;
}

.line-break{
    height: 2px;
    width: 65%;
    background-color: orangered;
    margin-bottom: 160px;
    box-shadow: 0 0 10px rgb(255, 38, 0);
}

