.landing-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

.gif-img{
    width: 60px;
    border: 3px solid orangered;
    border-radius: 50%;
    position: inherit;
    top: 65%;
    right: calc(100% - 82%);
    transition: 1s;
}

.gif-img:hover{
    transform: scale(1.3);
}

.h1-greet{
    position: relative;
    left: -30px;
    font-size: 200px;
    margin-bottom: 30px;
    z-index: 9;
}

.h2-greet{
    margin-bottom: 20px;
}

.line-break{
    height: 2px;
    width: 65%;
    background-color: orangered;
    margin-bottom: 160px;
    box-shadow: 0 0 10px rgb(255, 38, 0);
}

.span-exclamation{
    animation: wiggle 4s linear infinite;
    position: absolute;
    top: -40%;
    font-size: 300px;
    z-index: 9;
}

@keyframes wiggle{
    0%{
        transform: rotateZ(0deg);
    }
    50%{
        transform: rotateZ(15deg);
    }
    100%{
        transform: rotateZ(0deg)
    }
}
