.landing-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
}

.h2-greet{
    margin-bottom: 20px;
}

.line-break{
    height: 2px;
    width: 65%;
    background-color: orangered;
    margin-bottom: 160px;
    box-shadow: 0 0 10px rgb(255, 38, 0);
}

.welcome-div{
    font-size: 70px;
    margin-top: 50px;
    transition: 5s;
}

.smooth-scroll {
    scroll-behavior: smooth;
    transition: scroll-snap-align 0.1s;
  }